@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Metrophobic');



h1 {
  font-family: arial black;
  font-size: 50px;
  color: black;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Bowlby One SC', cursive;

  
}
.titulo2 {
  font-size: 40px;
  font-family: 'Metrophobic', sans-serif;
}
body {
  margin: 0px;
  
}
.hero {
  background-image: url("../imagenes/apple-black-and-white-black-and-white-169573.jpg");

  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
    z-index: -10;
}

.hero-overlay {
  display: table;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.box3 {
  height: 100vh;
  width: 100%;
  background-color:  rgb(223,223,223);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
.navbar {
  background-color: black;
  opacity: 0.5;
  top: 0px;
  font-size: 20px;
  color: white
}
i {font-size: 70px ;
  color: white;
}
.icons {
  background: #202020;
  padding: 10px 0;
  text-align: center;
}
.icons  a  {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.icons  a:first-child {
  border-left: 1px solid #70726F;
}
.icons  a:hover {
  color: white;
}
#box5 {
  height: 40vh;
  width: 100%;
background-color: #202020;

  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.heros {
  background-image: url("../imagenes/apple-black-and-white-black-and-white-169573.jpg");

  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
    z-index: -10;
}

.hero-overlays {
  display: table;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}